
h4{
    font-weight: 300;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
 font-size: .5em;
 color: lightgrey;
 font-family: Arial, Helvetica, sans-serif;
 
}

h5{
   color: whitesmoke;
}
.img_pete{
  
    width:  100%;
}

.img_weather{

    width: 25%;
    padding: 2%;
   
}

.navbar{
    background-color:rgb(63, 87, 135);        
    color: white;
    font-size: 25px;
    font-family: serif; 
    text-emphasis-color: whitesmoke ;
}

.container{

 background-color: rgba(50, 55, 83, 0.979);
 width: 25%;
 margin: 0 auto;
 margin-top: 80px;
 color: black;  
 border: 10px;
 font-size: 1.75em;

}


.media{
   padding: 2%;
   align-content: center;
}

.contact_info{
    display: block;
    padding-top: 5%;
    padding: 3px;
    background-color: rgb(63, 87, 135);
    text-emphasis-color: black;
    text-align: center;
    color:white;

}
